.a {
    background-color:red;
    width: 400px;
    height: 400px;
}
 .b {
    background-color: aqua;
    width: 400px;
    height: 400px;
 }

 .c {
    background-color: black;
    width: 400px;
    height: 400px;
 }
 .c {
    background-color: blue;
    width: 400px;
    height: 400px;
 }
 .f {
    background-color:yellow;
    width: 400px;
    height:   400px;
 }